:root {
    --background: #000000;
    --primaria: #202020;
    --secundaria: #ffffff;
    --detalhes: #454545;
}

.userPic {
    margin-top: 4%;
    display: grid;
    place-items: center;
}

.menu {
    padding: 10px;
    margin-top: 10%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.menu li {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--detalhes);
    padding-bottom: 15px;
    font-size: 18px;
}

.menu li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.menu li a {
    text-decoration: none;
    color: var(--secundaria);
}

.btnAcervo {
    width: 8%;
    margin-right: 4%;
}

.btnRandom {
    width: 8%;
    margin-right: 4%;
}

.btnBackup {
    width: 10%;
    margin-right: 2%;
}   

.btnConfig {
    width: 8%;
    margin-right: 4%;
}

.btnInfo {
    width: 8%;
    margin-right: 4%;
}